body
{
    background-color: #332;
    color: #EED;
}
  


.box
{
    position:relative;
    width: 100%;
    height: 500px;
    /* background-color: antiquewhite; */
    text-align: center;
    img
    {
        scale: 20%;
        margin: auto;
        align-content: center;
        animation: grow linear;
        animation-timeline: view();
    }
}

@keyframes grow
{
    to{scale: 1 1; position: top;}
}